<!DOCTYPE html>
<html>
<head> 
    <title>Register</title> 
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
</head>
<body>

<div data-role="page">
    <div data-role="header">
        <button data-icon="delete" type="submit" >Cancel </button>
        <h2>Register</h2>
        <button data-icon="check" type="submit"  data-theme="b">Submit </button>
    </div>

    <form action="/newItem/" method="post">
    <div class="ui-body ui-body-b">
    <div data-role="fieldcontain">
        <label for="name">Name:</label>
        <input type="text" id="name" placeholder="Full Name"/>
    </div>

    <div data-role="fieldcontain">
        <label for="usrname">Username:</label>
        <input type="text" id="usrname" placeholder="Username"/>
    </div>

    <div data-role="fieldcontain">
        <label for="name">Password:</label>
        <input type="password" id="pswrd" placeholder="Password"/>
    </div>

v data-role="fieldcontain">
        <label for="name">Re-Enter Password:</label>
        <input type="password" id="repswrd" placeholder="Re-Enter Password"/>
    </div>

    <div data-role="fieldcontain">
        <label for="name">State:</label>
        <input type="password" id="repswrd" placeholder="Enter State"/>
    </div>

    <div data-role="fieldcontain">
        <label for="email">Email Address:</label>
        <input type="text" id="email" placeholder="Email div"/>
    </Address>

    </form>


</div><!-- /page -->

</body>
</html>

